<script type="text/javascript" src="/javascripts/composer.js"></script>
<script type="text/javascript" src="/javascripts/json.js"></script>


<div>
  <label>Youtube link:</label>
  <input type="text" value="http://www.youtube.com/watch?v=XZcs3ZP_GhQ&feature=feedrec_grec_index" id="youtube_url" />
  <input type="button" value="fetch" id="youtube_fetch">
</div>

<label>*Title:</label> <input id="video_title" type="text" /><br />

<div style="width:800px">
  <div style="float:left;width:450px;">
    <div id="video_container"></div>
  </div>
  <div id="comments_container" style="float:left;width:300px;border:1px solid #000">
    <textarea cols="34" rows="20" id="comment_text"></textarea><br />
    <input type="button" value="start" id="start_comment" />
    <input type="button" value="end" id="end_comment">
    <input type="checkbox" id="pause_check" name="pause" value="true"> Pause<br>
  </div>
  <div style="clear:both;"></div>
</div>

<hr />

<div id="add_widget">
<div id="message">&nbsp;</div>
<label>*Subtitle name:</label> <input id="track_label" type="text" /><br />
<textarea cols="77" rows="1" id="subtitles"></textarea><br />
<input type="button" value="start" id="start_subtitle" />
<input type="button" value="end" id="end_subtitle">
<input type="button" value="save" id="save_button">
</div>
