<script type="text/javascript" src="/javascripts/composer.js"></script>

<div>
  <label>Youtube link:</label>
  <input type="text" id="youtube_url" />
  <input type="button" value="fetch" id="youtube_fetch">
</div>
<div id="video_container">
  
</div>