<script type="text/javascript" src="/javascripts/composer.js"></script>
<script type="text/javascript" src="/javascripts/json.js"></script>


<div>
  <label>Youtube link:</label>
  <input type="text" id="youtube_url" />
  <input type="button" value="fetch" id="youtube_fetch">
</div>

<label>*Title:</label> <input id="video_title" type="text" /><br />

<div style="width:800px">
  <div style="float:left;width:450px;">
    <div id="video_container"></div>
  </div>
  <div id="comments_container" style="float:left;width:300px;border:1px solid #000">
    <textarea cols="34" rows="20" id="comment_text"></textarea><br />
    <input type="button" value="start" id="start_comment" />
    <input type="button" value="end" id="end_comment">
    <input type="checkbox" id="pause_check" name="pause" value="true"> Pause<br />
  </div>
  <div style="clear:both;"></div>
</div>

<hr />

<div id="message">&nbsp;</div>

<input type="button" value="Add a new subtitle" id="new_subtitles">
<input type="button" value="Finish" id="save_button">
<div id="widgets"></div>


<div id="template" style="display:none">
  <div id="add_widget_ID">
    <label>*Subtitle name:</label> <input class="track_label" id="ID" type="text" /><br />
    <textarea cols="77" rows="1" id="subtitles_ID"></textarea><br />
    <input type="button" value="start" class="start_subtitle" id="ID" />
    <input type="button" value="end" class="end_subtitle" id="ID">
  </div>
</div>
