<html>
  <head>
    <title>RichTube</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>
    <script type="text/javascript">
      google.load("swfobject", "2.1");
    </script>
	<link href="/stylesheets/layout.css" type="text/css" media="all" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <!--Header-->
      <div class="header">
        <div class="logo">
          <h1 class="hidetext">
            <a href="/">RichTube</a>
          </h1>
        </div>
        <div class="navigation">
          <ul class="nav">
            <li><a href="/">All videos</a></li>
            <li><a href="/videos/new">Create Video</a></li>
        </ul>
        </div>
      </div>
      <!--Content-->
	  <div class="container">
      <%= yield %>
	  </div>
	  <div class="clear"></div>
	  <!-- Footer -->
	  <div class="footer">
    	<div class="copyright">Copyright &copy; 2011 asTweeted Ltd. All Rights Reserved.</div>
        <div class="footlinks"><a href="javascript:void(0);">About Us</a> . <a href="javascript:void(0);">Contact</a> . <a href="javascript:void(0);">Blog</a> . <a href="javascript:void(0);">Help</a> . <a href="javascript:void(0);">Terms of Service</a> . <a href="javascript:void(0);">Privacy Policy</a></div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>